/* 滚动条的宽度 */
::-webkit-scrollbar {
    width: 8px;
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, .5);
    border-radius: 0 0 10px 0;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    background: rgba(31, 41, 55, .5);
    border-radius: 10px;
}

/* 鼠标悬停时的滑块样式 */
::-webkit-scrollbar-thumb:hover {
    background: rgb(31, 41, 55);
    -webkit-box-shadow: unset;
}

.line1 {
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    overflow: hidden;
}