:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1f2937;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.text-gray{
  color: #9ca3af;
}

.float-right{
  float: right;
}

.flex{
  display: flex;
}

.align-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.mt-5{
  margin-top: 5px;
}

.mr-5{
  margin-right: 5px;
}

.ml-5{
  margin-left: 5px;
}

.mt-10{
  margin-top: 10px;
}

.mr-10{
  margin-right: 10px;
}

.mb-10{
  margin-bottom: 10px;
}

.ml-10{
  margin-left: 10px;
}

.mb-20{
  margin-bottom: 20px;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line1 {
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  overflow: hidden;
}

.app-body{
  min-height: calc(100vh - 125px);
  max-width: 1200px;
  padding: 10px;
  margin: 0 auto;
}

.full-width{
  width: 100%;
}

.card {
    background-color: #3c4a5f;
    border-radius: 8px;
}

.card-name {
    border-bottom: #556276 1px solid;
    padding: 10px;
}

.n-card-header{
  padding: 20px 20px 15px 20px !important;
}

.n-card__content{
  padding: 0 20px 20px 20px !important;
}